{% extends "base.html" %}
{% block title %} New Password {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Enter new password
      </div>
      <div class="card-body">
        {% if validlink %}
        {% include "registration/includes/form_mistake.html" %}
        <form method="post">
          {% include "registration/includes/form_body.html" %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Set new password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header"> Error </div>
        <div class="card-body">
          <p> Password reset link is expired or invalid </p>
        </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}